prefix=${XDG_DATA_HOME}/npm
cache=${XDG_CACHE_HOME}/npm
audit-level=moderate
update-notifier=false
fund=false
loglevel=warn
progress=false
init-author-name="Olzhas Askar"
init-author-email=olzhas.askar@gmail.com
init-license=MIT
init-version=0.0.0
